<section id="contact" class="main_content">
  <h1 class="skill_h2">contact</h1>
  <p class="skills_p">Currently I am located in Lancaster, PA.<br>Feel free to send me an email or reach out via social media!</p>
  <div class="icon_box">
  <a class="icon_link" target="blank" href="https://www.facebook.com/katherine.d.mundale"><img class="icon" src="images/social-images/facebook.png" alt="Facebook Icon"></a>
  <a class="icon_link" target="blank" href="https://www.instagram.com/katherine.doris/"><img class="icon" src="images/social-images/insta.png" alt="Instagram Icon"></a>
  <a class="icon_link" target="blank" href="https://www.linkedin.com/in/katherine-mundale-4295751b2/"><img class="icon" src="images/social-images/linkedin.png" alt="LinkedIn Icon"></a>
  <a class="icon_link" target="blank" href="mailto:katherine.doris.mundale@gmail.com"><img class="icon" src="images/social-images/email.png" alt="Email Icon"></a>

  </div>
</section>
<p class="footer_p">Copyright <time>July 2020</time> KDM</p>
