<div class="title-bar">
<!--Drop down header button which activates JavaScript-->
<button onclick="dropDownOption();" type="button" class="dropbtn" name="button"></button>

  <div id="dropMenu" class="title-bar-nav">

    <a class="nav-bar" href="#skills">strengths</a>
    <a class="nav-bar" href="#projects">coding projects</a>
    <a class="nav-bar" href="#visual">visual projects</a>
    <a class="nav-bar" href="#resume">experience</a>
    <a class="nav-bar" href="#contact">contact</a>
    <a class="nav-bar" href="#home">home</a>

  </div>

</div>
