
<div class="title-bar">
<!--Drop down header button which activates JavaScript-->
<button onclick="dropDownOption();" type="button" class="dropbtn" name="button"></button>

  <div id="dropMenu" class="title-bar-nav">

    <a class="nav-bar" href="#skills">strengths</a>
    <a class="nav-bar" href="projects">projects</a>
    <a class="nav-bar" href="photography">photography</a>
    <a class="nav-bar" href="work_history">work history & education</a>
    <a class="nav-bar" href="#contact">contact</a>
    <a class="nav-bar" href="/">home</a>

  </div>

</div>
