<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <%- include ("../partials/_head") %>
    <script defer type="text/javascript" src="/js/skillFade.js"></script>

  </head>

  <body>

    <div class="header-holder">

    <header>

      <%- include ("../partials/_header") %>

    </header>

    </div>

  <article id="home" class="intro">

  <h1 id="main_name">KD Mundale</h1>

  <h2 id="special">Bringing My Unique Perspective to Web/App Design &
    Development</h2>

    <div class="main_intro_div">

    <img id="me" src="images/me2.jpg" alt="portrait of Katherine Mundale on a wooded bike trail
    standing beside her bike and giving the 'hang-loose' hand signal">


    <p id="main_intro"> If everyone<br><br>took the<br><br>same trail,<br><br>we'd only
      see<br><br>the world<br><br>from one<br><br>point of view.</p>

    <p id="blurb">I haven't followed the conventional path to the
      world of web, app, and software development.
      The first half of my life was spent working doubles behind a bar and raising
      my sons as a single mother. In <time>2019</time> I decided it was time for a change, and
      enrolled in the Computer Software Engineering program at <a href="#" class="link">
      Thaddeus Stevens College of Technology</a>.The fire was lit, and my desire
      to create, learn, and understand programming and design has been burning ever since!
      <br>
      <br>My experience gives me a unique advantage.
      <br>
      <br>I have learned the best ideas can come from the most unexpected
      places; diversity and adversity are provenances for new perspectives
      and creative solutions.</p>

    </div>

  </article>

  <div id="skill_box" class="resume_window">

    <div id="skillA" class="fade-in">
      <h1 id="skill"></h1>
    </div>
  </div>

  <article class="main">

    <section id="skills" class="main_content">

      <h2 class="skill_h2">strengths</h2>

      <h2 class="skill_h">I work.</h2>
      <div class="skills_p_container">
        <p class="skills_p" class="skills_p">A strong work ethic has carried me
        through life.<br> The NMW Club: No matter what, show up and do the best you can.</p>
      </div>

      <h2 class="skill_h">I listen.</h2>
        <div class="skills_p_container">
          <p class="skills_p" class="skills_p">Patient, attentive listening will
          reveal much of what is needed to resolve a situation.
          <br>Remaining attentive and engaged in every discussion not only reinforces
          confidence between collaborators and clients, but saves time and
          resources as well.</p>
        </div>

      <h2 class="skill_h">I communicate.</h2>
        <div class="skills_p_container">
          <p class="skills_p">Coinciding with effective
            listening is clear and cogent communication. Be it written or verbal,
            formal or informal, external or internal, conveying ideas and issues
            thuroughly and professionally will affect relationships and
            ptoductivity in a beneficial way.</p>
        </div>

      <h2 class="skill_h">I find solutions.</h2>
        <div class="skills_p_container">
          <p class="skills_p" class="skills_p">....even if they're not my own.
            <br>As a creative thinker and someone who approcahes problems from new
            directions, sometimes the tried and true solution is still the best.
            Reaserch, experimentation, peer review, testing; finding the most effective
            solution is always a priority.
          </p>
        </div>

      <h2 class="skill_h">I genuinely care.</h2>
        <div class="skills_p_container">
          <p class="skills_p" class="skills_p">About everything. About everybody.
          <br>In a world with a devisive climate full of polarizing issues, my
          personal ethos is one of equality, inclusion, and openness.</p>
        </div>


    </section>

    <section id="resume" class="main_content">
      <h2 class="skill_h2">experience</h2>
      <div class="resume_window">
      <iframe src="docs/RESUME.pdf" width="90%" height="700px"></iframe>
      </div>
    </section>

    <section id="contact" class="main_content">
      <h1 class="skill_h2">contact</h1>
      <p class="skills_p">Currently I am located in Lancaster, PA.<br>Feel free to send me an email or reach out via social media!</p>
      <div class="icon_box">
      <a class="icon_link" target="blank" href="https://www.facebook.com/katherine.d.mundale"><img class="icon" src="images/social-images/facebook.png" alt="Facebook Icon"></a>
      <a class="icon_link" target="blank" href="https://www.instagram.com/katherine.doris/"><img class="icon" src="images/social-images/insta.png" alt="Instagram Icon"></a>
      <a class="icon_link" target="blank" href="https://www.linkedin.com/in/katherine-mundale-4295751b2/"><img class="icon" src="images/social-images/linkedin.png" alt="LinkedIn Icon"></a>
      <a class="icon_link" target="blank" href="mailto:katherine.doris.mundale@gmail.com"><img class="icon" src="images/social-images/email.png" alt="Email Icon"></a>

      </div>
    </section>

  </article>

  <footer>

    <%- include ("../partials/_footer") %>

  </footer>

  </body>
</html>
