<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script defer type="text/javascript" src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>KDMundale</title>

  </head>

  <body>

    <div class="header-holder">

    <header>
      <div class="title-bar">
      <!--Drop down header button which activates JavaScript-->
      <button onclick="dropDownOption();" type="button" class="dropbtn" name="button"></button>

        <div id="dropMenu" class="title-bar-nav">

          <a class="nav-bar" href="#skills">strengths</a>
          <a class="nav-bar" href="#projects">coding projects</a>
          <a class="nav-bar" href="#visual">visual projects</a>
          <a class="nav-bar" href="#resume">experience</a>
          <a class="nav-bar" href="#contact">contact</a>
          <a class="nav-bar" href="#home">home</a>

        </div>

      </div>
    </header>

    </div>

  <article id="home" class="intro">

  <h1 id="main_name">KD Mundale</h1>

  <h2 id="special">Bringing My Unique Perspective to Web/App Design &
    Development</h2>

    <div class="main_intro_div">

    <img id="me" src="images/me2.jpg" alt="portrait of Katherine Mundale on a wooded bike trail
    standing beside her bike and giving the 'hang-loose' hand signal">


    <p id="main_intro"> If everyone<br><br>took the<br><br>same trail,<br><br>we'd only
      see<br><br>the world<br><br>from one<br><br>point of view.</p>

    <p id="blurb">I haven't followed the conventional path to the
      world of web, app, and software development.
      The first half of my life was spent working doubles behind a bar and raising
      my sons as a single mother. In <time>2019</time> I decided it was time for a change, and
      enrolled in the Computer Software Engineering program at <a href="#" class="link">
      Thaddeus Stevens College of Technology</a>.The fire was lit, and my desire
      to create, learn, and understand programming and design has been burning ever since!
      <br>
      <br>My experience gives me a unique advantage.
      <br>
      <br>I have learned the best ideas can come from the most unexpected
      places; diversity and adversity are provenances for new perspectives
      and creative solutions.</p>

    </div>

  </article>

  <article class="main">

    <section id="skills" class="main_content">

      <h2 class="skill_h2">strengths</h2>

      <h2 class="skill_h">I work.</h2>
      <div class="skills_p_container">
        <p class="skills_p" class="skills_p">A strong work ethic has carried me
        through life.<br> The NMW Club: No matter what, show up and do the best you can.</p>
      </div>

      <h2 class="skill_h">I listen.</h2>
        <div class="skills_p_container">
          <p class="skills_p" class="skills_p">Patient, attentive listening will
          reveal much of what is needed to resolve a situation.
          <br>Remaining attentive and engaged in every discussion not only reinforces
          confidence between collaborators and clients, but saves time and
          resources as well.</p>
        </div>

      <h2 class="skill_h">I communicate.</h2>
        <div class="skills_p_container">
          <p class="skills_p">Coinciding with effective
            listening is clear and cogent communication. Be it written or verbal,
            formal or informal, external or internal, conveying ideas and issues
            thuroughly and professionally will affect relationships and
            ptoductivity in a beneficial way.</p>
        </div>

      <h2 class="skill_h">I find solutions.</h2>
        <div class="skills_p_container">
          <p class="skills_p" class="skills_p">....even if they're not my own.
            <br>As a creative thinker and someone who approcahes problems from new
            directions, sometimes the tried and true solution is still the best.
            Reaserch, experimentation, peer review, testing; finding the most effective
            solution is always a priority.
          </p>
        </div>

      <h2 class="skill_h">I genuinely care.</h2>
        <div class="skills_p_container">
          <p class="skills_p" class="skills_p">About everything. About everybody.
          <br>In a world with a devisive climate full of polarizing issues, my
          personal ethos is one of equality, inclusion, and openness.</p>
        </div>


    </section>

    <section id="projects" class="main_content">

      <h2 class="skill_h2">coding projects</h2>

      <table>
        <!--Table of previous projects with displayed skills used-->
        <tbody>

          <tr>
            <td class="proj_pic_cont"><a target="blank" href="https://kdmundale.github.io/DowntownLancaster-DrivingGame/"><img src="images/project-images/driver.jpg" alt="" class="proj"></a></td>
            <td class="proj_name">WANT TO PLAY A GAME?<br>Downtown Lancaster:<br>JavaScript Driving Game</td>
            <td class="proj_skill">JavaScript, HTML & CSS Mobile compatible</td>
          </tr>

          <tr>
            <td class="proj_pic_cont"><a href="#"><img src="images/project-images/portal.jpg" alt="" class="proj"></a></td>
            <td class="proj_name">TSCT Portal:<br>TSCT College Portal Simulation</td>
            <td class="proj_skill">Python3, Flask, SQL, PgAdmin, Database Design, JavaScript, HTML, CSS</td>
          </tr>

          <tr>
            <td class="proj_pic_cont"><a target="blank" href="https://stormy-cove-03010.herokuapp.com/"><img src="images/project-images/todo.jpg" alt="" class="proj"></a></td>
            <td class="proj_name">Flask ToDo App</td>
            <td class="proj_skill">Python3, Flask, HTML, CSS, Heroku</td>
          </tr>

          <tr>
            <td class="proj_pic_cont"><a href=" https://kdmundale.github.io/MollysPubWebsite/" target="blank"><img src="images/project-images/logo.png" class="proj" alt=""></a></td>
            <td class="proj_name">Website Proposal:<br>Static Web Build for Business</td>
            <td class="proj_skill">JavaScript, HTML, CSS</td>
          </tr>

          <tr>
            <td class="proj_pic_cont"><a target="blank" href="https://github.com/kdmundale"><img  class="proj" src="images/social-images/github.svg" alt="GitHub Icon"></a></td>
            <td class="proj_name">GitHub</td>
            <td class="proj_skill">Collection of all my school and personal projects, from my first "Hello, World" to now.</td>
          </tr>

        </tbody>

      </table>

    </section>

    <section id="visual" class="main_content">
      <h2 class="skill_h2">visual projects</h2>
        <h3 class="visual_h3">instagram photos and campaigns</h3>
        <p class="skills_p">Created an esthetically pleasing and cohearent IG
        page for Molly's Pub,
        from which posts were shared to various other social media sites.<br>
        Took each photograph and used photo editing software to make each post
        unique and eye catching.</p>

        <div class="carousel-wrapper">
          <div class="carousel">
            <img class="carousel__photo initial" src="images/mollyspub/pics/pub1.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/dog.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer1.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/burger.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/pub.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer2.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/dog1.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/prime.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/ribs.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer5.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/dog4.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer3.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/taps.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/meatballs.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/pork.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/dog3.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer6.jpg">

            <div class="carousel__button--next"></div>
            <div class="carousel__button--prev"></div>
          </div>
        </div>

        <h3 class="visual_h3">posters and flyers</h3>
        <p class="skills_p">Created digital and printable flyers and online adds for Molly's Pub.</p>

        <div class="carousel-wrapper2">
          <div class="carousel">

            <img class="carousel__photo2 initial" src="images/mollyspub/flyers/burgernight.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/carryout.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/420.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/events.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/fourth.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/mask.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/yella.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/taptakeover.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/football.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/dinner.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/cinco.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/halfway1.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/carryout1.jpg">





            <div class="carousel__button2--next"></div>
            <div class="carousel__button2--prev"></div>
          </div>
        </div>
    </section>

    <section id="resume" class="main_content">
      <h2 class="skill_h2">experience</h2>
      <div class="resume_window">
      <iframe src="docs/RESUME.pdf" width="90%" height="700px"></iframe>
      </div>
    </section>

    <section id="contact" class="main_content">
      <h1 class="skill_h2">contact</h1>
      <p class="skills_p">Currently I am located in Lancaster, PA.<br>Feel free to send me an email or reach out via social media!</p>
      <div class="icon_box">
      <a class="icon_link" target="blank" href="https://www.facebook.com/katherine.d.mundale"><img class="icon" src="images/social-images/facebook.png" alt="Facebook Icon"></a>
      <a class="icon_link" target="blank" href="https://www.instagram.com/katherine.doris/"><img class="icon" src="images/social-images/insta.png" alt="Instagram Icon"></a>
      <a class="icon_link" target="blank" href="https://www.linkedin.com/in/katherine-mundale-4295751b2/"><img class="icon" src="images/social-images/linkedin.png" alt="LinkedIn Icon"></a>
      <a class="icon_link" target="blank" href="mailto:katherine.doris.mundale@gmail.com"><img class="icon" src="images/social-images/email.png" alt="Email Icon"></a>

      </div>
    </section>

  </article>

  <footer>

    <p class="footer_p">Copyright <time>July 2020</time> KDM</p>

  </footer>

  </body>
</html>
