<html lang="en" dir="ltr">

  <head>

    <%- include ("../partials/_head") %>
    <title>KDMundale-Photography</title>
    <script defer type="text/javascript" src="/js/carousel.js"></script>
  </head>

  <body>

    <div class="header-holder">
      <header>

        <%- include ("../partials/_header") %>

      </header>
    </div>
    <section id="visual" class="main_content">
      <h2 class="skill_h2">visual projects</h2>
        <h3 class="visual_h3">instagram photos and campaigns</h3>
        <p class="skills_p">Created an esthetically pleasing and cohearent IG
        page for Molly's Pub,
        from which posts were shared to various other social media sites.<br>
        Took each photograph and used photo editing software to make each post
        unique and eye catching.</p>

        <div class="carousel-wrapper">
          <div class="carousel">
            <img class="carousel__photo initial" src="images/mollyspub/pics/pub1.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/dog.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer1.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/burger.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/pub.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer2.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/dog1.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/prime.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/ribs.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer5.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/dog4.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer3.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/taps.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/meatballs.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/pork.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/dog3.jpg">
            <img class="carousel__photo" src="images/mollyspub/pics/beer6.jpg">

            <div class="carousel__button--next"></div>
            <div class="carousel__button--prev"></div>
          </div>
        </div>

        <h3 class="visual_h3">posters and flyers</h3>
        <p class="skills_p">Created digital and printable flyers and online adds for Molly's Pub.</p>

        <div class="carousel-wrapper2">
          <div class="carousel">

            <img class="carousel__photo2 initial" src="images/mollyspub/flyers/burgernight.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/carryout.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/420.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/events.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/fourth.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/mask.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/yella.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/taptakeover.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/football.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/dinner.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/cinco.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/halfway1.jpg">
            <img class="carousel__photo2" src="images/mollyspub/flyers/carryout1.jpg">
            <div class="carousel__button2--next"></div>
            <div class="carousel__button2--prev"></div>
          </div>
        </div>
    </section>

    <footer>

      <%- include ("../partials/_footer") %>

    </footer>

    </body>
    </html>
