<html lang="en" dir="ltr">

  <head>

    <%- include ("../partials/_head") %>

  </head>

  <body>

    <div class="header-holder">
      <header>

        <%- include ("../partials/_header") %>

      </header>
    </div>

    <article id="projPage">

      <h2 class="skill_h2">projects</h2>

      <section class="projBox">
        <h1 class="projTitle">Dad Joke Machine</h1>
          <a id="bigpush" href="https://kdmundale.github.io/justCause/" >PUSH ME</a>
          <p class="projP" id="jokeP">Dad joke generator built with JS and
            icanhazdadjoke.com API</p>
      </section>


    <section class="projBox">
      <h1 class="projTitle">Downtown Lancaster Driving Game</h1>
      <a target="blank" href="https://kdmundale.github.io/DowntownLancaster-DrivingGame/">
        <img src="/images/project-images/CAR.png" alt="" class="proj"></a>
      <p class="projP">A mindless JavaScript driving game, paying homage to my hometown downtown.</p>
    </section>

    <section class="projBox">
      <h1 class="projTitle">Website Proposal</h1>
      <a class="projA" target="blank" href="https://kdmundale.github.io/MollysPubWebsite/">
        <img src="/images/project-images/mollys.jpeg" alt="" class="proj"></a>
      <p class="projP">Static website build proposal</p>
    </section>

    <section class="projBox">
      <h1 class="projTitle">TSCT Portal: Mock College Portal</h1>
      <a class="projA" href="#"><img src="images/project-images/portal.jpg" alt="" class="proj"></a>
      <p class="projP">Web portal built with Flask</p>
    </section>

    <section class="projBox">
      <h1 class="projTitle">To-Do App: Flask</h1>
      <a class="projA" target="blank" href="https://stormy-cove-03010.herokuapp.com/">
        <img src="/images/project-images/toDoApp.jpeg" alt="" class="proj"></a>
        <p class="projP">A To-Do Flask app</p>
    </section>

  </article>

  <footer>

    <%- include ("../partials/_footer") %>

  </footer>

  </body>
</html>
