<html lang="en" dir="ltr">

  <head>

    <%- include ("../partials/_head") %>
  </head>

  <body>

    <div class="header-holder">
      <header>

        <%- include ("../partials/_header") %>

      </header>
    </div>

    <article id="resume" class="main_content">
      <h2 class="skill_h2">education</h2>
      <div class="resume_window">
        <h3>Associate of Applied Science<br>Computer Software Engineering</h3>
        <h4>Thaddeus Stevens College of Technology</h4>
        <h4>January 2019 - Present</h4>

      </div>

      <h2 class="skill_h2">work history</h2>
      <div class="resume_window">
        <h3>City Ambassador for Lancaster, Pa</h3>
        <h3>Bartender</h3>
        <h3>Manufacturing & Production</h3>

      </div>
    </article>

    <footer>

      <%- include ("../partials/_footer") %>

    </footer>

    </body>
    </html>
